*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body::after{
    content: '';
    display: block;
}
.page_sidebar{
    width: 300px;
    height: 100%;
    background-color: #40B3E4;
    position: fixed;
    top:0;
    left: 0;
    box-sizing:  border-box;
}
.page_main{
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 300px);
    height: 100%;
    box-sizing:  border-box;
    /*margin-left: 300px;*/
}
.main_container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    background-image: url("../img/bg.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.main_container::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.main_container::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}
.main_container::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ededed;
    border-radius: 10px;
}
.main_banner{
    height: 500px;
    width: 100%;
    background-color: dodgerblue;
}
.main_content{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 350px auto 0 auto;
    width: 60%;
    background-color: #cccccc;
}
.page_footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #c2c2c2;
}