*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei UI Light";
    font-size: 0.9rem;
    color: #525f7f;
}
body::after{
    content: '';
    display: block;
}
a,a:hover{
    text-decoration: none;
    color: #525f7f;
}
.page_sidebar{
    width: 220px;
    height: 100%;
    /*background-color: #525f7f;*/
    background-color: #ffffff;
    position: fixed;
    top:0;
    left: 0;
    box-sizing:  border-box;
    box-shadow: 15px 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    z-index: 2;
    /*color: #ffffff;*/
    color: #002f56;
}
.page_sidebar a,.page_sidebar a:hover{
    text-decoration: none;
    /*color: #ffffff;*/
    color: #957071;
}
.sidebar_profile{
    position: relative;
    height: 220px;
    width: 100%;
    /*background-color: #5D677F;*/
    background-color: #ffffff;
}
.sidebar_profile>.sidebar_avatar{
    height:140px;
    width:140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%,-50%);
}
.sidebar_profile>.sidebar_avatar>img{
    height: 100%;
    width: 100%;
    /*border: 5px solid #ffffff;*/
    border: 5px solid rgba(224,224,244,0.6);
    border-radius: 50%;
}
.sidebar_logo{
    text-align: right;
    width: 95%;
    /*border-bottom: 1px solid #191970;*/
    /*border-bottom: 1px solid #3D507F;*/
    padding-right: 0.5rem;
    margin: .8rem auto 0 auto;
    box-sizing: border-box;
}

.sidebar_logo>h2{
    /*font-size: 1.2em;*/
    font-weight: 800;
    letter-spacing:.1rem;
    margin-bottom: 0.25rem;
}

.sidebar_logo>h4{
    font-weight: 400;
    margin-bottom: .8rem;
}

.sidebar_navigation{
    width: 100%;
}

.sidebar_navigation>ul{
    list-style-type: none;
    text-align: right;
}

.sidebar_navigation>ul>a>li{
    padding: 1.35rem 1rem 1.2rem 0;
    font-size: 1rem;
}

.sidebar_navigation>ul>a:hover>li{
    padding: 1.35rem 1rem 1.2rem 0;
    /*background-color: #3E475F;*/
    background-color: #e0e0e0;
    font-size: 1rem;
}

.page_main,.post_main{
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 220px);
    height: 100%;
    box-sizing:  border-box;
    /*margin-left: 220px;*/
}
.main_container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    /*background-image: url(//www.cnblogs.com/skins/BlueSky/images/bg.gif);*/
    /*background-repeat: repeat;*/
    background-color: rgba(194,194,194,0.2);
}
/*.main_container:before{*/
/*    content: '';*/
/*    display: block;*/
/*    position: fixed;*/
/*    z-index: -1;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    margin-left: 220px;*/
/*    background-image: url("../img/bg.jpg");*/
/*    background-repeat:no-repeat;*/
/*    background-size:100% 100%;*/
/*    -moz-background-size:100% 100%;*/
/*    -webkit-filter: blur(2px);*/
/*    -moz-filter: blur(2px);*/
/*    -ms-filter: blur(2px);*/
/*    -o-filter: blur(2px);*/
/*    filter: blur(2px);*/
/*}*/
.main_container::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.main_container::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}
.main_container::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ededed;
    border-radius: 10px;
}
.main_banner{
    position: relative;
    height: 400px;
    width: 100%;
    /*box-shadow: 15px 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);*/
    border: 1px solid #cccccc;
}
.main_banner img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.main_banner>.banner_info{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.main_banner>.banner_info>h2{
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-family: "Microsoft YaHei UI";
}
.main_banner>.banner_info>h2>a,.main_banner>.banner_info>h2>a:hover{
    text-stroke:1px #ffffff;
    -webkit-text-stroke: 1px #ffffff;
}
.main_banner>.banner_info>.post-meta{
    margin-top: 1.5rem;
}
.main_banner>.banner_info>.post-meta>p{
    display: inline-block;
    margin-right: 10px;
    font-size: 1rem;
    color: #000000;
}
.main_banner>.banner_info>.post-meta>p>a,.main_banner>.banner_info>.post-meta>p>a:hover{
    color: #000000;
}
.main_content{
    margin: 0px auto 0px auto;
    transform: translateY(-2rem);
    width: 80%;
    z-index: 2;
    min-height: 50vh;
}
.content_item{
     width: 100%;
     box-shadow: 15px 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
     border-radius: 20px;
     box-sizing: border-box;
     background-color: #ffffff;
     overflow:hidden;
 }
.content_item:not(:last-of-type){
    margin-bottom: 6rem;
}
.ban_comment{
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.1rem;
}
.comment_list_section{
    width: 100%;
    padding: 3rem 3rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
}
.comment_list_section>ul,.comment-children{
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
}
.comment-children{
    padding-left: 4rem;
}
.comment-child>ul>li{
    padding-top: 4rem;
    width: 100%;
}
.comment_list_section>ul>li{
    padding: 2rem 0;
    width: 100%;
}
.comment-content{
    width: 100%;
}
.comment-content>div{
    float: left;
}
.comment-content:after{
    content: '';
    display: block;
    clear: both;
}
.comment_avatar>.avatar{
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}
.comment_right{
    padding-left: 0.8rem;
    box-sizing: border-box;
    width: calc(100% - 75px);
}
.comment_data{

}
.comment_author{
    font-size: 1.2rem;
    font-weight: bold;
}
.comment_time{
    font-size: 1.1rem;
}
.comment_body{
    font-size: 1.15rem;
    padding-top: .5rem;
}
.comment-reply{
    text-align: right;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.5rem 0;
    font-weight: 800;
}

.comment_list_section>h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}
.comment_post_section{
    width: 100%;
    padding: 3rem 3rem;
    box-sizing: border-box;
}
.comment_post_section>h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}
.comment_post_section>.login_user_info{
    padding: 0.8rem 0;
}
.comment_post_section>.form_container{
    width: 100%;
}
.comment_post_section>.form_container>form>label{
    font-size: 1.2rem;
    line-height: 41px;
    height: 41px;
}
.comment_post_section>.form_container>form>textarea{
    width: 100%;
    height: 200px;
    display: block;
    outline:none;
    resize:none;
    padding: 0;
    padding-top: 10px;
    line-height: 41px;
    background-color: transparent;
    background-image: linear-gradient(#eee 1px,transparent 1px);
    background-attachment: local;
    background-size: 100% 41px;
    border: 0;
    font-size: 16px;
    z-index: 1;
    color: #898989;
    font-family: "Microsoft YaHei UI Light";
}
.form_container>form>.users_info{
    width: 100%;
}
.form_container>form>.users_info>div{
    float: left;
    width: 33.3%;
    text-align: center;
    height: 41px;
    border-bottom: #eee 1px solid;
    text-align: left;
}
.form_container>form>.users_info:after{
    content: '';
    display: block;
    clear: both;
}
.form_container>form>.users_info>div>label{
    height: 100%;
    line-height: 41px;
    display: inline-block;
    border-bottom: 1px solid #525f7f;
    text-align: left;
}
.form_container>form>.users_info>div>input{
    display: inline-block;
    height: 100%;
    outline:none;
    resize:none;
    z-index: 1;
    color: #898989;
    background-color: transparent;
    border: 0;
    font-size: 0.6rem;
    font-family: "Microsoft YaHei UI Light";
}

.form_container>form>.users_info>div>input::-webkit-input-placeholder {
    color: #eee;
}

.form_container>form>.users_info>div>input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #eee;
}

.form_container>form>.users_info>div>input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #eee;
}

.form_container>form>.users_info>div>input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cccccc;
}
.form_container>form>.submit-btn{
    text-align: right;
    margin-top: 20px;
}
.form_container>form>.submit-btn>.submit{
    display: inline-block;
    width: 130px;
    background: #525f7f;
    color: #fff;
    padding: 0.8rem 0.4rem;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: 0;
}
.content_img{
    width: 100%;
    height: 180px;
}
.content_img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.content_section{
    width: 80%;
    margin: 40px auto 60px auto;
    /*要显示每列的动漫图头部再开启这个*/
    /*margin: 30px auto 80px auto;*/
}
.post_main>.main_container>.main_content>.content_item>.content_section{
    width: 80%;
    margin: 80px auto;
}
.content_section>.post-title{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.post_main>.main_container>.main_content>.content_item>.content_section>.post-title{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: left;
}
.content_section>.post-meta{
    margin-bottom: 1.5rem;
}
.post_main>.main_container>.main_content>.content_item>.content_section>.post-meta{
    margin-bottom: 3.5rem;
    text-align: center;
}
.content_section>.post-meta>p{
    display: inline;
    margin-right: 10px;
    font-size: 1rem;
    color: #888;
}
.content_section>.post-content{
    color: #525f7f;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
}
.timeline_container{
    width: 100%;
    height: 100%;
}
.timeline_item{
    margin-bottom: 0.2rem;
}
.timeline_year{
    padding-bottom: .8rem;
}
.timeline_month_box{
    position: relative;
}
.timeline_style{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1rem;
    height: 100%;
    width: 4px;
    background-color: #3D507F;
}
.timeline_month_item{
    margin-bottom: 1rem;
}
.timeline_month_item>h4{
    padding-left: 2rem;
    padding-bottom: .6rem;
}
.timeline_month_item>ul{
    padding-left: 4rem;
}
.timeline_month_item>ul>li{
    padding: .4rem .4rem .4rem 0;
}
.timeline_container>.timeline_item>div>.timeline_month_item>ul{
    width: 100%;
    list-style-type: none;
}
.timeline_container>>.timeline_item>div>.timeline_month_item>ul>li{
    width: 100%;
}
.page_footer{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 15px 15px 35px #525f7f;
    /*border: 1px solid #cccccc;*/
    text-align: center;
}
.footer_content{
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.footer_content > p{
    margin: 10px auto;
}
.footer_content > .copyright {
    font-weight: bold;
}
.footer_content > .copyright > a{
    font-weight: normal;
}